/* FIGMA 320 design (default) */
.button-close {
    width: 20px;
    height: 20px;
    background-image: url(../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;

    position: absolute;
    top: -36px;
    right: 0;
    border: none;
    padding: 0;

}

.button-close:hover {
    opacity: 0.6;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .button-close {
        width: 26px;
        height: 26px;

        top: -30px;
        right: -30px;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .button-close {
        width: 32px;
        height: 32px;

        top: -40px;
        right: -40px;
    }
}