.form__error {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;

    opacity: 0;
    transition: opacity 0.3s;

    display: inline-block;
    min-height: 30px;

    /* Для резервирования пространства размещения элемента, иначе с нулевой шириной элемент схлопывается и контролы пляшут от валидации */
    min-width: 1px;
}