/* FIGMA 320 design (default) */
.footer {
    width: 100%;
    max-width: 880px;
    margin: 48px auto 0;

    padding: 0 19px 33px;
    box-sizing: border-box;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .footer {
        padding: 0 30px 36px;
        margin: 57px auto 0;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .footer {
        margin: 66px auto 0;
    }
}