.login__text {
    /* Уже зарегистрированы? Войти*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;
    margin: 15px 0 0;
}