/* FIGMA 320 design (default) */
.form__button-save {
    background: #000000;
    border: none;
    border-radius: 2px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;

    margin: 20px auto 0;
    min-height: 46px;
    width: 100%;
    padding: 0;
}

.form__button-save:hover {
    opacity: 0.8;
}

/* NO FIGMA design */
@media screen and (min-width: 768px) {
    .form__button-save {
        font-size: 16px;
        line-height: 20px;
    }
}

/* FIGMA 1280 */
@media screen and (min-width: 1024px) {
    .form__button-save {
        font-size: 18px;
        line-height: 22px;
        min-height: 50px;
    }
}